 .ck-editor__editable[role="textbox"] {
                /* editing area */
                min-height: 200px;
            }


/* loader */
.layer1_class {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    visibility: visible;
}

.layer2_class {
    position: absolute;
    z-index: 2;
    visibility: hidden
}

